/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-<% blockName % >  {
	color: $black;
	background: $green;
	border: 0.2rem solid $black;
	padding: 2rem;
}
