/**
 * ----------------------------------------------------------------------------
 * #.# Frontend CSS
 *
 * BLOCK: wp-block-cgb-block CSS for the editor & front end.
 * ----------------------------------------------------------------------------
 */

.wp-block-cgb-block {
	color: #000000;
	background: lightblue;
	border: 0.2rem solid blue;
	padding: 2rem;
}
